# Django y extensiones
Django==5.1.4
django-browser-reload==1.17.0
django-crispy-forms==2.3
crispy-tailwind==1.0.3
django-recaptcha==4.0.0
django-storages==1.14.4
python-decouple==3.8
whitenoise==6.8.2
gunicorn

# Base de datos
psycopg2==2.9.10

# Celery y Redis
celery[redis]==5.3.6
kombu==5.4.2
redis

# AWS/S3/R2
boto3==1.36.11
botocore==1.36.11
s3transfer==0.11.2

# Utilidades
Pillow==11.1.0
pydantic==2.10.4
replicate==1.0.4
requests==2.32.3
urllib3==2.3.0
honcho

# OpenAI
openai==1.59.5

# Dependencias básicas
asgiref==3.8.1
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
