{% extends "dashboard/base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block content %}
    <div class="container mx-auto m-2 flex flex-col items-center">
        <div class="flex flex-col bg-blue-50 p-4 rounded-3xl mt-4  sm:w-[90%] md:w-[70%] ">
            
                <h2 class="font-Open-Sans font-medium text-lg">Sign Up</h2>
                <form class="mt-2" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                   
                    <button type="submit" class="btn bg-blue-500 text-white hover:bg-blue-700 w-full mt-3 rounded-2xl h-12">Sign Up</button>
                </form>

         
        </div>
    </div>
{% endblock %}